In [12]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

Corpus

In [13]:
a = 'sie trinkt kaffee und sie liest bücher'
b = 'sie trinkt tee'
c = 'sie kauft bücher'

df = pd.DataFrame({'corpus': [a,b,c]})
df.index.name='id'
df

                                    corpus
id
0   sie trinkt kaffee und sie liest bücher
1                           sie trinkt tee
2                         sie kauft bücher

tdidf-matrix

In [14]:
#matrix multiplication
data = df['corpus'].tolist()
model = TfidfVectorizer(norm=None)
model.fit(data)
X = model.transform(data)

dcount = pd.DataFrame(X.toarray(), columns = model.get_feature_names_out())
dcount.index.name='id'
dcount

      bücher    kaffee     kauft     liest  sie       tee    trinkt       und
id
0   1.287682  1.693147  0.000000  1.693147  2.0  0.000000  1.287682  1.693147
1   0.000000  0.000000  0.000000  0.000000  1.0  1.693147  1.287682  0.000000
2   1.287682  0.000000  1.693147  0.000000  1.0  0.000000  0.000000  0.000000

query

In [15]:
querys = ["sie trinkt limonade", "sie trinkt tee", "er trinkt wasser", "Es regnet"]
querys

['sie trinkt limonade', 'sie trinkt tee', 'er trinkt wasser', 'Es regnet']

In [17]:
Xq = model.transform(querys)
print(type(Xq))

#  columns = model.get_feature_names_out()
pd.DataFrame(columns=dcount.columns, data = Xq.toarray())

<class 'scipy.sparse._csr.csr_matrix'>

   bücher  kaffee  kauft  liest  sie       tee    trinkt  und
0     0.0     0.0    0.0    0.0  1.0  0.000000  1.287682  0.0
1     0.0     0.0    0.0    0.0  1.0  1.693147  1.287682  0.0
2     0.0     0.0    0.0    0.0  0.0  0.000000  1.287682  0.0
3     0.0     0.0    0.0    0.0  0.0  0.000000  0.000000  0.0

Search Result

In [18]:
Xa = X.toarray()
Xqa = Xq.toarray()

print('Xa shape: ', Xa.shape)
display(Xa)
print()
print('Xqa shape: ', Xqa.shape)
display(Xqa)

Xa shape:  (3, 8)

array([[1.28768207, 1.69314718, 0.        , 1.69314718, 2.        ,
        0.        , 1.28768207, 1.69314718],
       [0.        , 0.        , 0.        , 0.        , 1.        ,
        1.69314718, 1.28768207, 0.        ],
       [1.28768207, 0.        , 1.69314718, 0.        , 1.        ,
        0.        , 0.        , 0.        ]])

Xqa shape:  (4, 8)

array([[0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.28768207, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 1.        ,
        1.69314718, 1.28768207, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.28768207, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ]])

In [19]:
result = Xqa @ Xa.T
print('result: ')
result

result:

array([[3.65812512, 2.65812512, 1.        ],
       [3.65812512, 5.52487249, 1.        ],
       [1.65812512, 1.65812512, 0.        ],
       [0.        , 0.        , 0.        ]])

In [35]:
for index in range(len(result)):
    df['result'] = result[index]
    print('Query:',querys[index])
    print(df)

Query: sie trinkt limonade
                                    corpus    result
id
0   sie trinkt kaffee und sie liest bücher  3.658125
1                           sie trinkt tee  2.658125
2                         sie kauft bücher  1.000000
Query: sie trinkt tee
                                    corpus    result
id
0   sie trinkt kaffee und sie liest bücher  3.658125
1                           sie trinkt tee  5.524872
2                         sie kauft bücher  1.000000
Query: er trinkt wasser
                                    corpus    result
id
0   sie trinkt kaffee und sie liest bücher  1.658125
1                           sie trinkt tee  1.658125
2                         sie kauft bücher  0.000000
Query: Es regnet
                                    corpus  result
id
0   sie trinkt kaffee und sie liest bücher     0.0
1                           sie trinkt tee     0.0
2                         sie kauft bücher     0.0